tr{
    background-color: rgb(240, 223, 223);
    text-align: center;
    
    border-bottom-width: 1px;
    height: 25px;
    width: 50%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 5%;

}